<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Node.js application entry point -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Node.js URL rewrite rules -->
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server\.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Remove ETag Header">
          <match serverVariable="RESPONSE_ETag" pattern=".*" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>

    <!-- WebSocket support for Socket.io -->
    <webSocket enabled="true" />

    <!-- iisnode configuration -->
    <iisnode watchedFiles="web.config,*.js" nodeProcessCountPerApplication="1" loggingEnabled="true" logDirectory="d:\home\LogFiles\nodejs" enableXFF="true" devErrorsEnabled="false" />

    <!-- Increase request timeout for long-running requests -->
    <security>
      <requestFiltering>
        <requestLimits maxUrl="4096" maxQueryString="2048" maxAllowedContentLength="104857600" />
      </security>
    </security>
  </system.webServer>

  <runtime>
    <!-- Disable module caching to ensure latest code is used -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
</configuration>
